@import url('https://fonts.googleapis.com/css?family=Teko|Raleway|Anton|Source+Code+Pro|Source+Sans+Pro:300');
@import './grids';

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fafdff;
    overflow-X: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.main-container{
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.nav-side-bar{
    position:fixed;
    top:37vh;
    right:0;
    height:15.625rem;
    width: 1.875rem;
    background: black;
}
canvas {
    position: fixed;
    z-index:-100;
    top: 0;
    left: 0;
}

.wrapper {
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr ;
    grid-gap:1em;
    border-top:3px solid black;
    padding-top:100px;
    // background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
    background: rgb(252, 252, 255);
}
.wrapper, header{
    display: grid;
    position:relative;

    height:100vh;
    width:100vw;

    grid-gap:0;
}
header{
    display: flex;
    flex: 1 0 auto;
    position: relative;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

}
.header {
    align-self: center;
    justify-self: center;
    position:absolute;
    z-index:-20;
    text-align:center;
    width:100%;
    top:25%;
}
.header:after{

    content: 'BY JAMES DAWSON';
    font-family: 'Anton';
    letter-spacing: .75rem;
    font-size:19pt;
    padding:.3125rem 0 .3125rem .5625rem;
    margin-left:15%;
    font-weight:bold;
    border:.1875rem solid black;
    background: white;
}
.header h1 {
    padding:4.3rem 0 2rem 0;
    width:40%;
    line-height: 1em;
    margin:auto;
    background:black;
    color:white;
    font-size:9vw;
    font-family:'Teko';
}
.profile {
    background-color: #222;
    background: linear-gradient(top, rgba(#111,1) 0%,rgba(#222,1) 50%,rgba(#111,1) 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);

}
.side {
}
.nav-grid {
    display:grid;
    border-bottom:.1875rem solid black;

}

.nav {
    align-self: end;
    justify-self: center;
    height:100vh;
    margin-top:95vh;
    background:white;
    color:black;
    font-size:1.5vw;
    font-weight:1000;
    letter-spacing:.25rem;
    font-family:'Permanent Marker';
    padding:.625rem;
    width:100%;
    border:.1875rem solid black;
    border-bottom:0rem;
    max-width:13.75rem;
    text-align:center;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.nav:hover{
    background:black;
    letter-spacing:.5rem;
    font-family:'Permanent Marker';
    color:white;
    cursor:pointer;
}
